/node_modules/
/Coding/Atom.lnk
*.odt
*.odt#
*.doc
*.doc#
*.docx
*.docx#
*.odf
*.odf#
*.pdf
*.pdf#
*.crx
*.crx#
*.pem
*.pem#
*.ods
*.ods#
/Coding/Processing/
node_modules/
_site/
.sass-cache/
.jekyll-metadata
