---
# Front matter
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Files within {{directory}}</title>

    <link rel="stylesheet" href="./styles.css">
  </head>

  <body>
    <main>
      <header>
        <h1>
          <i>Index of&nbsp;</i>
        </h1>
      </header>
      <ul class="single-column">
        {% for _file in site.static_files %}
          <!-- {% if _file.extname %} -->
            <li><a href="{{_file.path}}">{{_file.basename}}</a></li>
          <!-- {% endif %} -->
        {% endfor %}
      </ul>
    </main>

    <script type="text/javascript">
    </script>
  </body>
</html>
